@media (max-width: 1400px) {
    .block-product:not(:last-child) {
        margin-right: 60px;
    }
}
@media (max-width: 1200px) {
    .my-cart-item.mr-d {
        margin-right: 39px;
    }
    .block-product:not(:last-child) {
        margin-right: 20px;
    }
    .personal-block{
        padding-left: 10px;
    }
    .under-menu ul.navigation li a {
        font-size: 14px;
    }
    .card h3 {
        font-weight: 500;
        font-size: 14px;
    }
    .card .item-desc ul li p{
        font-size: 12px;
    }
    .card .item-desc {
        padding-right: 5px;
    }
    .card-bot ul{
        padding: 0;
    }
}
@media (max-width: 1040px) {
    .personal-block{
        padding-left: 0px;
    }
    .under-menu ul.navigation li a {
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    .under-menu ul.navigation li a{
        font-size: 14px;
    }
    .card h3 {
        font-weight: 500;
        font-size: 12px;
    }
    .card .item-desc ul li p{
        font-size: 12px;
    }
    .card .item-desc {
        padding-right: 5px;
    }
    .card-bot ul{
        padding: 0;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    ul.navigation li > ul {
        overflow: scroll;
        height: 300px;
        display: none;
        position: absolute;
        width: 200px;
        top: 100%;
        left: 116px;
    }
    .tablet-menu {
        display: block;
    }
    .head-contacts li{
        font-size: 14px;
    }
    .search-form {
        width: 222px;
    }
    .search-form .search {
        width: 100%;
        height: 30px;
    }
    .search-form .search-icon {
        position: absolute;
        right: 17px;
        top: 5px;
    }
    .under-menu ul.navigation{
        position: fixed;
        display: none;
        transition: all 0.3s;
        flex-direction: column;
        background: #ffffff;
        width: 451px;
        height: 100vh;
        z-index: 10;
        left: 0;
        top: 0;
        padding: 108px 43px;
    }
    .under-menu ul.navigation li{
        margin-bottom: 40px;
    }
    .under-menu ul.navigation.open-nav{
        display: flex;
    }
    .tablet-filters .open-filter, .tablet-filters .open-sort{
        display: block;
    }

    a.more{
        font-size: 12px;
    }
}
@media (max-width: 1023px) {
    form.filter-items {
        display: none;
        transition: all 0.3s;
    }
    .sort-block {
        display: none;
        transition: all 0.3s;
    }
    form.filter-items{
        position: fixed;
        top: 20%;
        left: 0;
        background: #ffffff;
        z-index: 6;
        width: 100%;
        padding: 25px;
        height: 440px;
        overflow: scroll;
    }
    .filter .form-group.price-inputs{
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
        margin-top: 15px;
    }
    h3.price-title{
        font-size: 20px;
    }
    .close-pp{
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px;
    }
    .close-pp img{
        width: 16px;
    }
    .open-filter, .open-sort{
        display: flex;
        justify-content: space-between;
    }
    .sort-block{
        position: fixed;
        top: 20%;
        left: 0;
        background: #ffffff;
        z-index: 6;
        width: 100%;
        padding: 25px 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .sort-block a {
        padding: 4px 8px;
        color: #000000;
    }
    .sort-block .nav-link.active {
        background: #FFEBEB;
        border-radius: 10px;
        color: #000000;
    }
    .sort-block{
        display: none;
        transition: all 0.3s;
    }
    .sort-block .nav{
        display: flex;
        flex-direction: column;
    }
    .close-pp {
        display: block;
    }
    a.more {
        padding: 6px 11px;
    }
    .btns{
        display: flex;
        justify-content: space-between;
    }
    .btns .open-filter, .btns .open-sort{
        width: 48%;
    }
    .category {
        padding: 40px 15px 40px 20px;
    }
    .under-menu ul.navigation li.tablet-li{
        display: block;
    }
}

@media (max-width: 991px) {
    .personal-block{
        margin-top: 60px;
    }
    .cart-item-desc{
        width: 100%;
        padding: 0;
    }
    .cart-item{
        display: block;
    }
    .cart-item-img{
        margin-bottom: 30px;
    }
    .item-title.mobile-show{
        margin-bottom: 20px;
        display: block;
        max-width: 100%;
    }
    .button-delete-item.mobile-show{
        display: block;
    }
    .item-title.mobile-none, .button-delete-item.mobile-none{
        display: none;
    }
    .brands{
        padding: 0 68px;
    }
    .product__carousel .gallery-thumbs{
        display: none;
    }
}
@media (max-width: 767px) {
    .personal-form.user-reg{
        margin-right: auto;
        margin-left: auto;
        padding: 15px 35px;
        background: #FFFFFF;
        box-shadow:none;
        border-radius: 0px;
        margin-top: 0px;
    }
    .form-group .m-w-m{
        display: block;
        width: 236px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        height: 40px;
    }
    .change-password button{
        margin-bottom: 20px;
    }
    .change-password{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .d-flex-d{
        display: block;
    }
    .my-cart-item.mr-d {
        margin-right: 50px;
    }
    .my-cart{
        display: block;
    }
    .progressbar li span{
        transform: rotate(-90deg);
        top: -37px;
        right: -10px;
        font-size: 9px;
    }
    .product-tracking-title {
       text-align: center;
    }
    .progressbar li:nth-child(1) span {
        right: -12px;
        top: -30px;
    }
    .my-cart-item{
        margin-bottom: 50px;
    }
    .progressbar li:nth-child(2) span {
        right: -25px;
        top: -44px;
    }
    .progressbar li:nth-child(3) span {
        right: -20px;
        top: -40px;
    }
    .progressbar li:nth-child(4) span {
        right: -15px;
        top: -35px;
    }
    .product-tracking{
        position: relative;
        border: none;
    }
    .progressbar li:after{
        height: 2px;
        top: 3px;
    }
    .progressbar li:before{
        width: 8px;
        height: 8px;
    }

    .product-tracking-title {
        margin-bottom: 60px;
    }
    .pagination{
        display: none;
    }
    .load{
        position: absolute;
        right: -34px;
        transform: rotate(90deg);
        width: auto;
        top: 360px;
        margin: 0;
    }
    .block-product:not(:last-child) {
        margin-bottom: 28px;
    }
    .progressbar li{
        width: 100px;
    }
    .product-tracking-item{
        flex-direction: column;
    }
    .product-tracking-footer{
        display: block;
    }
    .product-tracking:last-child{
        margin-bottom: 0;
    }
    .product-tracking-footer h5{
        display: flex;
        flex-direction: column;
    }
    .product-tracking-footer h5 span{
        margin-left: 0;
    }
    #personal-page {
        padding-bottom: 0px;
    }
    .product-tracking-footer .btn-brown{
        margin: 15px auto;
        display: block;
    }
    .select-filter{
        width: 100%;
        margin-bottom: 30px;
    }
    .product__carousel .gallery-thumbs{
        display: none;
    }
    .page-title h2{
        font-weight: 800;
        font-size: 24px;
        line-height: 39px;
    }
    .brands-item{
        width: 170px;
        height: 96px;
        margin: 5px;
    }
    .brands{
        padding: 0 0px;
    }
    body{
        padding-top: 112px;
    }
    .tablet-menu{
        display: none;
        transition: all 0.3s;
    }
    form.filter-items{
        display: none;
        transition: all 0.3s;
    }
    .navbar-mobile {
        transition: all 0.3s;
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: #ffffff;
        z-index: 8;
        flex-direction: column;
    }

    .navbar-mobile.open-nav {
        display: flex;
    }

    .mobile-d-column {
        flex-direction: column;
    }

    .head-contacts {
        display: none;
        transition: all 0.3s;
    }

    .user-links {
        position: absolute;
        left: 20px;
        top: 106px;
    }

    .under-menu ul.navigation li {
        display: block;
        margin-right: 0;
        text-align: right;
        margin-bottom: 38px;
    }
    .block-body h2{
        font-weight: 500;
        font-size: 25px;
        line-height: 165%;
    }
    .under-menu ul.navigation li a {
        font-size: 14px;
    }

    ul.user-links li {
        display: block;
        margin-bottom: 21px;
    }

    .under-menu {
        display: block;
        position: relative;
    }

    .under-menu ul {
        float: right;
        padding-right: 12px;
    }

    .search-form {
        float: right;
        margin-bottom: 25px;
    }

    .right-side {
        display: block;
        padding-right: 12px;
    }

    .main-logo {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 25px!important;
    }
    .header.container{
        position: fixed;
        left: 0;
        top: 0;
        background: #ffffff;
        z-index: 3;
        width: 100%;
        max-width: inherit;
    }
    .header-mobile{
        display: flex;
        width: 100%;
        max-width: inherit;
    }
    form.filter-items{
        position: fixed;
        top: 20%;
        left: 0;
        background: #ffffff;
        z-index: 6;
        width: 100%;
        padding: 25px;
        height: 440px;
        overflow: scroll;
    }
    .filter .form-group.price-inputs{
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
        margin-top: 15px;
    }
    h3.price-title{
        font-size: 20px;
    }
    .close-pp{
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px;
    }
    .close-pp img{
        width: 16px;
    }
    .open-filter, .open-sort{
        display: flex;
        justify-content: space-between;
    }
    .sort-block{
        position: fixed;
        top: 20%;
        left: 0;
        background: #ffffff;
        z-index: 6;
        width: 100%;
        padding: 25px 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .sort-block a {
        padding: 4px 8px;
        color: #000000;
    }
    .sort-block .nav-link.active {
        background: #FFEBEB;
        border-radius: 10px;
        color: #000000;
    }
    .sort-block{
        display: none;
        transition: all 0.3s;
    }
    .sort-block .nav{
        display: flex;
        flex-direction: column;
    }
    .sort-block p {
        margin: 0 10px 12px 0;
        color: #787878;
        font-size: 16px;
    }
    .sort-block .nav-item {
        margin: 8px 0 ;
    }
    .close-pp{
        display: block;
    }
    .card .item-img img{
        width: 160px;
    }
    .card .item-img {
        width: 160px;
    }
    .category {
        padding: 25px 12px 40px 12px;
    }
    .card h3 {
        font-weight: 500;
        font-size: 14px;
    }
    .card .item-desc ul li p{
        font-size: 12px;
    }
    .card .item-desc {
        padding-right: 5px;
    }
    .card-bot ul{
        padding: 0;
    }
    footer ul p.title-foot{
        display: none;
        transition: all 0.3s;
    }
    .footer-nav {
        padding: 0 24px;
    }
    .btns {
        display: block;
    }
    .btns .open-filter, .btns .open-sort {
        width: 100%;
    }
    .under-footer p {
        text-align: left;
    }
    .card-inf {
        padding-right: 0px;
        padding-top: 40px;
    }
    .card-title h3 {
        font-size: 24px;
    }
    .under-menu ul.navigation li ul li{
        text-align: left;
        margin-bottom: 10px;
    }
    ul.navigation li > ul {
        overflow: scroll;
        height: 300px;
        display: none;
        position: absolute;
        width: 180px;
        top: 100%;
        left: -148px;
    }
    .btn-sl{
        width: 150px;
        height: 26px;
        font-weight: 600;
        font-size: 10px;
    }
}
@media (max-width: 576px){
    .all-brands-item{
        margin-bottom: 20px;
        display: flex;
    }
    .breadcrumb{
        display: none;
    }
    .title-block{
        font-size: 24px;
    }
    .card-desc ul li{
        font-size: 14px;
    }
    .brands {
        padding: 0 17px;
    }
    .card-action{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-right: 0;
        display: flex;
    }
    .slider-more-products.owl-theme .owl-nav .owl-next {
        right: 5px;
    }
    .slider-more-products.owl-theme .owl-nav .owl-prev {
        left: 5px;
    }
}
@media (max-width: 573px){
    .form-group button.btn-white {
        width: 260px;}
   .or-block {
        width: 300px;}
    .modal.show {
        align-items: center;
        justify-content: center;
    }
    .modal-body.w-biger{
        width: 400px;
    }
    .form-reg {
        width: 100%;
    }
    .brands {
        padding: 0 5px;
    }
    .brands {
        width: 360px;
        padding: 0 0px;
        margin: 0 auto;
    }
    .personal-form{
        margin: 0  auto;
    }
}
@media (max-width: 500px) {
    .modal-body.w-biger{
        width: 100%;
    }
.personal-form{
    width: 100%;
    margin: 0  auto;
}
}
@media (max-width: 400px) {
    .add-count-item li ,.item-price span, .item-price span.price{
    font-size: 18px;
    }
    .block-body ul{
        flex-direction: column;
    }
    .navs-post{
        justify-content: center;
    }
    .desc-none{
        display: block;
    }
    .mobile-none{
        display: none;
        transition: all 0.3s;
    }
    .mobile-footer-left{
        margin-left: -40px;
    }
    .mobile-footer-top{
        margin-top: -40px;
    }
}